#aWrapper {
    /*Horizontally centers the canvas*/
    /*margin: 0 auto;*/
    padding: 100px 0;
}

#myCanvas {
    /*This eliminates inconsistent rendering across browsers, canvas is supposed to be a block-level element across all browsers anyway*/
    display: block;

    /*myCanvas will inherit its CSS width and style property values from aWrapper*/
    width: 100%;
    height: 100%;
    /*padding: 60px 0;*/
   /*background-color: #ccc; */
}
