#footer {
  height: 130px;

  // border-top: 1px solid #999;
  border-top: 1px solid #d1d1d1;
  font-size: 114%;

  margin-top: 180px;

  #copyRight {
    color: #777;
  }
  #contact {
    // padding-bottom: 8px;
    padding-top: 12px;
  }
}
@media (min-width: 768px) {
  #footer {
    // margin-top: 0px;
  }
}
