#header {
  height: 48px;
  padding: 0 20px;
  background-color: #2b2b2b;

  #titleContainer {
    flex: 0 1 85%;

    #logo {
      font-family: 'Inconsolata', monospace;
      color: white;
      font-size: 30px;
      transition: color 0.2s linear 0s;
      margin-right: 48px;
      margin-right: 1.5em;

      &:hover {
         color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  @media (min-width: 768px) {
    #titleContainer {
      flex: 0;
    }
  }

  #buttonWrapper {
    flex: 0 1 15%;
    position: relative;
    z-index: 99;

    #mobileButton {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      border: 1px solid transparent;
      background-color: transparent;
      padding: 0;
      cursor: pointer;

      > div {
         height: 18px;
      }

      #hamburgerWrapper {
        position: relative;
        bottom: 0%;
      }

      .hamburgerIcon {
        width: 24px;
        height: 2px;
        background-color: white;

        // NEW TRANSFORM STUFF
        transition: background-color 0.33s ease-out 0s, transform 0.33s ease-out 0s, opacity 0s ease-out 0.33s, margin-bottom 0.33s ease-out 0.33s;
      }
      .hamburgerIcon:not(:last-child) {
        margin-bottom: 6px;
      }
    }
    #mobileButton:focus {
      outline: none;
    }
  }
  @media (min-width: 768px) {
    #buttonWrapper {
      display: none;
    }
  }

    #headerMenu {
      list-style: none;
      position: absolute;
      width: 24px;
      height: 0px;
      top: 48px;

      left: 0;
      margin: 0;
      padding: 0;

      border-top: 1px solid;
      border-color: transparent;

      background-color: transparent;
      z-index: 98;

      .menuItems {
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0 48px;

        opacity: 0;
        transition: opacity 0.2s ease-out 0s, visibility 0s linear 0.4s;
        font-size: 1em;

        a {
          color: white;
          text-align: center;
          padding: 1em 0;
          width: 100%;

          text-decoration: none;
        }
      }
      .menuItems:first-child {
        border-top: none;
        margin-top: 25px;
      }
    }

    .transitionExpand {
      transition: height 0s ease-in 0s, width 0s ease-in 0s, background-color 0.33s ease-in 0s, border-color 0.33s ease-in 0s;
    }
    .transitionCollapse {
      transition: height 0s ease-in 0.33s, width 0s ease-in 0.33s, background-color 0.33s ease-in 0s, border-color 0.33s ease-in 0s;
    }

    #gitHubIcon, #codePenLogo {
      width: 40px;
      height: 40px;
    }
    #gitHubIcon {
      background-image: url("assets/icons/GitHub-Mark-Light-120px-plus.png");
      background-size: contain;
    }
    .outer-ring {
      fill: white;
    }
    .inner-box {
      fill: white;
    }
    .headerLink {
      // font-size: 172%;
      font-size: 1.4em;
    }
  @media (min-width: 768px) {
    padding: 0 30px;

      #headerMenu {
        position: static;
        display: flex;
        align-items: center;
        height: auto;
        height: 100%;
        width: auto;
        border-top: none;

        .menuItems {
          visibility: visible;
          opacity: 1;
          border-top: none;
          height: 100%;
          margin: 0;

          transition: background-color 0.22s ease-out 0s;
          &:hover {
             background-color: #1f1f1f;
          }

          a {
            display: flex;
            align-items: center;
            height: 100%;
            color: #333;
            color: white;
            padding: 0 1.5em;
          }
        }
        .menuItems:first-child {
          margin-top: 0;
          background-color: black;
        }
      }

      #gitHubIcon, #codePenLogo {
        // width: 32px;
        // height: 32px;

        width: 28px;
        height: 28px;
      }

      #gitHubIcon {
        background-image: url("assets/icons/GitHub-Mark-Light-120px-plus.png");
      }

      #blogLink.menuItems {
      //   padding-right: 0;
      }

      // .outer-ring {
      //   fill: black;
      // }
      // .inner-box {
      //   fill: black;
      // }
      .outer-ring {
        fill: white;
      }
      .inner-box {
        fill: white;
      }
      .headerLink {
      //   font-size: 1em;
      font-size: 14px;
      //   font-size: 0.909em;
      }
   //  }
  }
} //end of Header

html.expanded {
  overflow-y: scroll!important;
}

.expanded, .expanded body {
  height: 100%;
  overflow: hidden;

  #header #headerMenu {
    height: calc(~"100% - 49px");
    min-height: 435px;
    width: 100%;

    background-color: rgba(43, 43, 43, 1);
    border-top: 1px solid;
    border-color: #aaa;

    .menuItems {
      visibility: visible;
      transition: opacity 0.4s ease-out 0.4s;
      opacity: 1;

      a {
        // display: inline-block;
        // text-align: center;
        // padding: 25px 0;
        // width: 100%;
      }
    }
  }

  // #header > .mainContainer > #buttonWrapper > #mobileButton
  // {
  #header > #buttonWrapper > #mobileButton
  {
    padding: 10px 0;

    #hamburgerWrapper {
      // background-color: pink;
      // transition: height 0.33s ease-out 3.33s;
      transition: bottom 0.33s ease-out 0.33s;
      // height: 50%;
      // transition: max-height 2.33s ease-out 3.33s;
      // max-height: 50%;
      // bottom: 50%;
      bottom: calc(~'50% - 1px');
    }

    .hamburgerIcon {
      background-color: white;

      transition: background-color 0.33s ease-out 0s, transform 0.33s ease-out 0s, opacity 0.33s ease-out 0s;
      transition: background-color 0.33s ease-out 0s, transform 0.33s ease-out 0.33s, opacity 0s ease-out 0.33s, margin-bottom 0.33s ease-out 0s;

      transition: background-color 0.33s ease-out 0s, transform 0.33s ease-out 0.33s, opacity 0s ease-out 0.33s, margin-bottom 0.33s ease-out 0s;
    }
    .hamburgerIcon:not(:last-child) {
      margin-bottom: -2px;
    }

    .hamburgerIcon:first-child {
      transform: rotate(45deg);
    }
    .hamburgerIcon:nth-child(2) {
      opacity: 0;
    }
    .hamburgerIcon:last-child {
      transform: rotate(-45deg);
    }
  }
}
