@import "normalize.css";

body {
  color: #333;
  font-family: sans-serif;
  font-size: 14px;
}

#header {
  width: 100%;
  // background-color: #ccc;
  padding-top: 30px;

  #headerTitle {
    // margin: 30px 0;
    // padding: 30px 0;

    #headerTitleText {
      font-size: 114%;

      text-align: center;
      padding-top: 8px;

      p {
        // display: inline-block;
        margin: 0;
      }
      p:first-child {
        margin-bottom: 2px;
        display: inline-block;

      }
    }
    #headerTitleText:hover p {
      text-decoration: underline;
    }
    #logo {
      height: 32px;
      width: 32px;
      background-image: url("assets/logo/code.svg");
      background-size: cover;
      margin-right: 0px;
      margin: 0 auto;
    }
  }  // End of headerTitle

  @media (min-width: 768px) {
      #headerTitle {
        padding-top: 0px;

        #headerTitleText {
          padding: 0px;
          text-align: left;
        }
        #logo {
          margin: 0;
          margin-right: 15px;
        }
      }
  }

  #profilesContainer {
    padding-top: 30px;

    #gitHubIcon {
      background-image: url("assets/icons/GitHub-Mark-120px-plus.png");
      // background-image: url("assets/icons/GitHub-Mark-32px.png");
      // background-size: 80%;
      background-size: contain;
      // background-position: 50% 50%;
      height: 32px;
      width: 32px;
    }
    #resumeLink {
      font-size: 114%;
      // margin-left: 22px;
      margin: 0 48px;
    }
    #blogLink {
      font-size: 114%;
    }
  }
  @media(min-width: 768px) {
    #profilesContainer {
      padding-top: 0;
    }
  }
} //end of Header
@media (min-width: 768px) {
  #header {
    height: 85px;
  }
}

#introduction {
  margin: 140px 0;
  color: #666;
  font-size: 200%;

  p {
    margin: 14px 0;
  }
}
@media (min-width: 768px) {
  #introduction {
    margin: 180px 0;
  }
}

.mainContainer {
  width: 90%;
  margin: 0 auto;
  // transition: width 0.6s ease-out 0s;
}
@media (min-width: 768px) {
  .mainContainer {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
  }
}
// @media (min-width: 1200px) {
//   .mainContainer {
//     width: 1000px;
//   }
// }

#projectSection{
  #projectHeader {
    display: inline-block;
    position: relative;
    padding-bottom: 7px;
    margin: 0;

    font-size: 180%;
  }
  #projectHeader:after {
    content: "";
    display: inline-block;
    width: 50%;
    height: 2px;

    position: absolute;
    left: 0;
    bottom: 0;

    background-color: hsl(340,100%,50%);
  }

  .imageHolder {
    // To prevent default flexbox behavior until appropriate.
    width: 100%;
    // max-width: 420px;
    // margin: 0 auto;
    // display: flex;
    // justify-content: center;

    #firstImage {
      // background-image: url("assets/agame/agameBottom22width5.png");
      background-image: url("assets/agame/agameBottom22width5Cropped.png");
      background-position: 50% 100%;

      // width: 272px;
      width: 266px;
      height: 266px;
    }
    // @media (min-width: 768px) {
    //   #firstImage {
    //     // background-image: url("assets/agame/agame5.png");
    //     background-image: url("assets/agame/agameBottom22width5Cropped.png");
    //     // background-position: 0% 0%;
    //     background-position: 50% 100%;
    //
    //     width: 266px;
    //     height: 266px;
    //   }
    // }

    #secondImage {
      background-image: url("assets/mixtin/mixtin100v2c.png");
      background-position: 0% 0%;
      // background-size: 100%;
      // width: 380px;
      width: 100%;
      max-width: 560px;
      height: 455px;
    }
    // @media (min-width: 768px) {
    //   #secondImage {
    //     // background-image: url("assets/agame/agame3.png");
    //     // background-position: 0% 0%;
    //
    //     // width: 266px;
    //     // height: 400px;
    //   }
    // }
    @media (min-width: 992px) {
      #secondImage {
        width: 460px;
        // height: 400px;
      }
    }

    // #thirdImage {
    //   background-image: url("assets/aolio/aolio50BottomCentered.png");
    //   background-position: 50% 100%;
    //
    //   height: 195px;
    // }
    // @media (min-width: 768px) {
    //   #thirdImage {
    //     background-image: url("assets/aolio/aolio67.png");
    //     background-position: 0% 0%;
    //
    //     height: 268px;
    //   }
    // }
  }
  // @media (min-width: 768px) {
  //   .imageHolder {
  //     width: auto;
  //   }
  // }
  @media (min-width: 992px) {
    .imageHolder {
      width: auto;
    }
  }

  .sectionContainer {
    padding: 125px 0;
  }
  // @media (min-width: 768px) {
  //   .sectionContainer {
  //     padding: 145px 0;
  //   }
  // }

  // @media (min-width: 768px) {
  //   #mixtinSectionContainer {
  //     padding: 140px 0;
  //   }
  // }

  // @media (min-width: 768px) {
  //   #aolioSectionContainer {
  //     padding: 160px 0;
  //   }
  // }

  .listContainer {
    display: inline-block;
    margin: 0 auto;
    margin-top: 35px;
    // margin-left: 70px;
    // margin-left: 120px;

    .bulletPoints {
      font-size: 114%;
      margin: 8px 0;
    }
  }
  @media (min-width: 768px) {
    .listContainer {
      margin-top: 45px;
    }
  }
  @media (min-width: 992px) {
    .listContainer {
      margin-top: 0;

      // margin-left: 75px;
      margin-right: 0px;
      margin-left: 105px;
    }
  }

  .images {
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;

    width: 100%;
    // max-width: 380px;
    // margin: 0 auto;
  }
  // @media (min-width: 768px) {
  //   .images {
  //     width: 380px;
  //     height: 380px;
  //
  //     // margin-right: 50px;
  //   }
  // }
  // @media (min-width: 992px) {
  //   .images {
  //     width: 405px;
  //     max-width: none;
  //     height: 400px;
  //
  //     // margin-right: 100px;
  //   }
  // }
}

#footer {
  height: 130px;
  // background-color: #333;
  border-top: 1px solid #999;
  font-size: 114%;

  margin-top: 180px;

  #copyRight {
    color: #777;
  }
  #contact {
    // padding-bottom: 8px;
    padding-top: 12px;
  }
}
@media (min-width: 768px) {
  #footer {
    // margin-top: 0px;
  }
}

// .imageHolderWrapper {
//   width: 100%;
// }

.numberedItems {
  margin: 10px 0;
}

.textAlignRight {
  text-align: right;
}

.textAlignCenter {
  text-align: center;
}

.textAlignleft {
  text-align: left;
}

.flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.verticalCenter {
  display: flex;
  align-items: center;
}

.inlineBlockToFlexLeft {
  display: inline-block;
}
@media (min-width: 768px) {
  .inlineBlockToFlexLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start
  }
}

.blockToFlexCentered {
  display: block;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .blockToFlexCentered {
    display: flex;
  }
}

.blockToFlexLeft {
  display: block;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 768px) {
  .blockToFlexLeft {
    display: flex;
  }
}

.flexCenteredToFlexLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .flexCenteredToFlexLeft {
    justify-content: flex-start;
  }
}

.flexCenteredToFlexRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .flexCenteredToFlexRight {
    justify-content: flex-end;
  }
}

.flexCenteredUp {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  flex-wrap: wrap;
}

.flexRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexLeftUp {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  // display: none;
  flex-wrap: wrap;
}

.flexCenteredToFlexTopLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .flexCenteredToFlexTopLeft {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.flexWrapThenNoWrap {
  flex-wrap: wrap;
}
// @media (min-width: 768px) {
//   .flexWrapThenNoWrap {
//     flex-wrap: nowrap;
//   }
// }
@media (min-width: 992px) {
  .flexWrapThenNoWrap {
    flex-wrap: nowrap;
  }
}

.flexibleCol {
  flex: none;
}
@media (min-width: 768px) {
  .flexibleCol {
    flex: 1;
  }
}

h2 {
  font-size: 150%;
}

.border {
  height: 2px;
  // width: 50%;
  width: 0%;
  margin: 0px auto;
  // background-color: hsl(340,100%,100%);
  background-color: hsl(340,100%,50%);
}
@media (min-width: 768px) {
  .border {
    margin: 60px auto;
    // width: 76%;
    background-color: hsl(340,100%,50%);
  }
}
// @media (min-width: 992px) {
//   .border {
//     // width: 86%;
//     width: 70%;
//   }
// }
// @media (min-width: 1200px) {
//   .border {
//     width: 76%;
//   }
// }

#blog {
  transition: none;
  // min-width: 700px;
  width: auto;
  max-width: 650px;
  padding: 0 25px;
  margin-top: 80px;
}

#firstBlog {
  font-size: 129%;
  // margin-top: 50px;
  // width: 70%;
  // margin: 0 auto;
  overflow-wrap: break-word;
}

.sectionHeaders {
  margin-bottom: 30px;
}

.normalText {
  font-weight: normal;
}

.boldText {
  font-weight: bold;
}

.spacedOut {
  line-height: 1.5;
  margin: 35px 0;
}

.littleSpacedOut {
  line-height: 1.5;
  margin: 10px 0;
}

.nearlyPlainLink {
  color: #2b6dad;
  text-decoration: none;
}

.nearlyPlainLink:link, .nearlyPlainLink:visited, .nearlyPlainLink:active {
  color: #2b6dad;
  text-decoration: none;
}

.plainLink {
  color: #333;
  text-decoration: none;
  display: inline-block;
}

.plainLink:link, .plainLink:visited, .plainLink:active {
  color: #333;
  text-decoration: none;
}

.plainLink:hover {
  text-decoration: underline;
}

.noPadding {
  padding: 0;
}

.noMargin {
  margin: 0;
}

.lightGray {
  color: #666;
}

h3 {
  font-size: 118%;
}

.codePurple {
  color: #c678dd;
}
.codeRed {
  color: #e06c75;
}
.codeGreen {
  color: #98c379;
}
.codeBlue {
  color: #61afef;
}
.codeTeal {
  color: #56b6c2;
}
.codeGray {
  color: #777;
}
.codeYellow {
  color: #e5c07b
}
.codeOrange {
  color: #d19a66;
}
.darkBackground {
  background-color: #333;
  color: white;
}

.slightlyRoundedCorners {
  border-radius: 3px;
}

#blog img {
  padding-top: 18px;
}

#blog pre {
  // overflow-y: hidden;
  // overflow-x: auto;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding: 25px;

  font-size: 89%;
}

#blog code {
  // padding: 25px;
  // width: 100%;
}

#blog h3 {
  // margin: 45px 0 25px;
}

#blog #credits {
  margin: 35px 0;
}

#blog h1 {
  // width: 70%;
  margin: 20px 0 80px;
}

.red {
  color: hsl(350,100%,50%);
}
