@import "normalize.less";
@import "header.less";
@import "responsive.less";
@import "footer.less";
@import "colors.less";

body {
  color: #333;
  font-family: sans-serif;
  font-size: 14px;
}

#introduction {
  margin: 140px 0;
  margin-top: 110px;
  color: #666;
  font-size: 200%;
  ///////////////
  // NEW CODE ///
  ///////////////
  background-image: url("assets/backgrounds/machu-picchu-1920x1440-C.jpg");
  background-position: 40% 50%;
  margin: 0;
  // padding: 140px 0 110px;
  padding: 220px 0;
  // margin-bottom: 50px;

  p {
    margin: 0;
    line-height: 1.6em;

    color: white;
  }
}
@media (min-width: 768px) {
  #introduction {
    margin: 180px 0;
    margin-top: 150px;

    margin: 0;
  }
}

#projectSection{
  padding-top: 50px;

  #projectHeader {
    display: inline-block;
    position: relative;
    padding-bottom: 7px;
    margin: 0;

    font-size: 180%;
  }
  #projectHeader:after {
    content: "";
    display: inline-block;
    width: 50%;
    height: 2px;

    position: absolute;
    left: 0;
    bottom: 0;

    background-color: hsl(340,100%,50%);
  }

  .imageHolder {
    width: 100%;

    #firstImage {
      background-image: url("assets/agame/agameBottom22width5Cropped.png");
      background-position: 50% 100%;
      width: 266px;
      height: 266px;
    }

    #secondImage {
      background-image: url("assets/mixtin/mixtin100v2c.png");
      background-position: 0% 0%;
      width: 100%;
      max-width: 560px;
      height: 455px;
    }
    @media (min-width: 992px) {
      #secondImage {
        width: 460px;
      }
    }

    #newsImage {
      // background-image: url("assets/arcade/arcade10C.png");
      // background-image: url("assets/arcade/ajarana.github.io-arcade-iPhone-5.png");
      width: 320px;
      height: 457px;
    }
  }
  @media (min-width: 992px) {
    .imageHolder {
      width: auto;
    }
  }

  .sectionContainer {
    padding: 125px 0;
  }

  #mixtinSectionContainer, #newsSectionContainer {
    margin: 0 -16px;
  }

  .listContainer {
    display: inline-block;
    margin: 0 auto;
    margin-top: 35px;

    .bulletPoints {
      font-size: 114%;
      margin: 8px 0;
    }
  }
  @media (min-width: 768px) {
    .listContainer {
      margin-top: 45px;
    }
  }
  @media (min-width: 992px) {
    .listContainer {
      margin-top: 0;

      margin-right: 0px;
      // margin-left: 105px;
      // margin-left: 90px;
      margin-left: 75px;
    }
  }

  .images {
    // display: block;
    display: inline-block;
    margin: 0 auto;
    background-repeat: no-repeat;
    // width: 100%;
    max-width: 320px;
  }
}

.numberedItems {
  margin: 10px 0;
}

h2 {
  font-size: 150%;
}

.border {
  height: 2px;
  width: 0%;
  margin: 0px auto;
  background-color: hsl(340,100%,50%);
}
@media (min-width: 768px) {
  .border {
    // margin: 60px auto;
    margin: 10px auto;
    background-color: hsl(340,100%,50%);
  }
}

#blog {
  transition: none;
  max-width: 700px;
  .mainContainer {
    box-sizing: content-box;
  }
}

#firstBlog {
  font-size: 150%;
  overflow-wrap: break-word;
}

.sectionHeaders {
  margin-bottom: 30px;
}

.spacedOut {
  line-height: 1.5;
  margin: 35px 0;
}

.littleSpacedOut {
  line-height: 1.5;
  margin: 10px 0;
}

.nearlyPlainLink {
  color: #2b6dad;
  text-decoration: none;
}

.nearlyPlainLink:link, .nearlyPlainLink:visited, .nearlyPlainLink:active {
  color: #2b6dad;
  text-decoration: none;
}

.noPadding {
  padding: 0;
}

h3 {
  font-size: 118%;
}

.codePurple {
  color: #c678dd;
}
.codeRed {
  color: #e06c75;
}
.codeGreen {
  color: #98c379;
}
.codeBlue {
  color: #61afef;
}
.codeTeal {
  color: #56b6c2;
}
.codeGray {
  color: #777;
}
.codeYellow {
  color: #e5c07b
}
.codeOrange {
  color: #d19a66;
}
.darkBackground {
  background-color: #333;
  color: white;
}

.slightlyRoundedCorners {
  border-radius: 3px;
}

#blog img {
  padding-top: 18px;
}

#blog pre {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding: 25px;

  font-size: 89%;
}

#blog #credits {
  margin: 35px 0;
}

#blog h1 {
  font-size: 2.1em;
  margin: 0px 0 35px;
}

.red {
  color: hsl(350,100%,50%);
}
