#footer {
  height: 110px;
  border-top: 1px solid #d1d1d1;
  background: #f4f4f4;

  #copyRight {
    color: #777;
  }
  #contact {
    padding-top: 8px;
    padding-top: 0.5em;
  }

	h2 {
    font-size: 1em;
    font-weight: normal;
	}
}

.footer-updated-on {
  color: #333;
}
