.lightGray {
  color: #777; }

.backgroundGray {
  background-color: #f8f8f8; }

.codePurple {
  color: #c678dd; }

.codeRed {
  color: #e06c75; }

.codeGreen {
  color: #98c379; }

.codeBlue {
  color: #61afef; }

.codeTeal {
  color: #56b6c2; }

.codeGray {
  color: #777; }

.codeYellow {
  color: #e5c07b; }

.codeOrange {
  color: #d19a66; }

.darkBackground {
  background-color: #333;
  color: white; }

.red {
  color: #ff002b; }

body {
  color: #333;
  font-family: 'Arimo', sans-serif;
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  @media (min-width: 992px) {
    body {
      font-size: 110%; } }

a {
  text-decoration: none;
  color: #2c6ebe;
  transition: color 0.22s linear; }
  a:hover {
    color: #206292; }

.mainContainer {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box; }

@media (min-width: 768px) {
  .mainContainer {
    max-width: 1000px;
    max-width: 1200px;
    max-width: 1100px;
    padding: 0 30px; } }

.flexCentered {
  display: flex;
  justify-content: center;
  align-items: center; }

.flexBottom {
  display: flex;
  align-items: flex-end; }

.verticalCenter {
  display: flex;
  align-items: center; }

.blockToFlexCentered {
  display: block; }

@media (min-width: 768px) {
  .blockToFlexCentered {
    display: flex;
    justify-content: center;
    align-items: center; } }

.blockToFlexLeft {
  display: block;
  justify-content: flex-start;
  align-items: center; }

@media (min-width: 768px) {
  .blockToFlexLeft {
    display: flex; } }

.flexCenteredToFlexLeft {
  display: flex;
  align-items: center;
  justify-content: center; }

@media (min-width: 992px) {
  .flexCenteredToFlexLeft {
    justify-content: flex-start; } }

.flexCenteredToFlexRight {
  display: flex;
  align-items: center;
  justify-content: center; }

@media (min-width: 768px) {
  .flexCenteredToFlexRight {
    justify-content: flex-end; } }

.flexCenteredUp {
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.flexRight {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.flexLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.flexLeftUp {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }

.flexCenteredToFlexTopLeft {
  display: flex;
  justify-content: center;
  align-items: center; }

@media (min-width: 768px) {
  .flexCenteredToFlexTopLeft {
    justify-content: flex-start;
    align-items: flex-start; } }

.flexWrapThenNoWrap {
  flex-wrap: wrap; }

@media (min-width: 992px) {
  .flexWrapThenNoWrap {
    flex-wrap: nowrap; } }

.inlineBlockToFlexLeft {
  display: inline-block; }

@media (min-width: 768px) {
  .inlineBlockToFlexLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start; } }

.textAlignRight {
  text-align: right; }

.textAlignCenter {
  text-align: center; }

.textAlignleft {
  text-align: left; }

.primaryHeaderWrapper {
  text-align: center; }
  @media (min-width: 992px) {
    .primaryHeaderWrapper {
      text-align: left; } }

.plainLink {
  color: #333;
  text-decoration: none;
  display: inline-block; }

.plainLink:link, .plainLink:visited, .plainLink:active {
  color: #333;
  text-decoration: none; }

.plainLink:hover {
  text-decoration: underline; }

.normalText {
  font-weight: normal; }

h1 {
  font-size: 2.1em;
  margin: 1.2em 0; }

h2 {
  font-size: 1.6em;
  margin: 1.2em 0; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.8em; }

h6 {
  font-size: 0.6em; }

p, li {
  line-height: 1.5;
  font-size: 1.2em; }

li {
  margin: 0.6em 0; }

.plainList {
  list-style-type: none; }

.menuIsExpanded {
  height: 100%;
  overflow: hidden; }

.noMargin {
  margin: 0; }

.linkContainer {
  list-style: none;
  padding: 0;
  margin: 1em 0; }
  .linkContainer li {
    margin: 0 0 1em 0; }
    @media (min-width: 768px) {
      .linkContainer li {
        margin-right: 2em;
        margin-bottom: 0; } }
    @media (min-width: 992px) {
      .linkContainer li {
        margin-right: 3em; } }
  .linkContainer li:last-child {
    margin-right: 0;
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .linkContainer {
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media (min-width: 992px) {
    .linkContainer {
      justify-content: flex-start; } }

.linkIcon {
  position: relative; }
  .linkIcon:after {
    content: "";
    display: inline-block;
    width: 0.22em;
    height: 0.22em;
    border-width: 3px;
    border-style: solid;
    border-color: #2c6ebe #2c6ebe transparent transparent;
    transform: rotate(45deg);
    transition: border-color 0.22s linear 0s;
    margin-left: 0.2em;
    margin-bottom: 1px;
    position: relative;
    left: 0;
    right: -0.22em; }
  .linkIcon:hover:after {
    animation-name: bounce;
    animation-duration: 0.2s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    border-color: #206292 #206292 transparent transparent; }
  @media (min-width: 992px) {
    .linkIcon:after {
      width: 0.26em;
      height: 0.26em;
      width: 6px;
      height: 6px; } }

@keyframes bounce {
  from {
    left: 0; }
  to {
    left: 10px; } }

.antiCollapsingMargins *:first-child {
  margin-top: 0; }

.antiCollapsingMargins *:last-child {
  margin-bottom: 0; }

.code {
  font-family: monospace;
  padding: 0.3em 0.6em;
  background-color: #eee;
  white-space: nowrap; }

.disabled {
  cursor: not-allowed; }

.responsiveCanvas {
  /*This eliminates inconsistent rendering across browsers, canvas is supposed to be a block-level element across all browsers anyway*/
  display: block;
  /*myCanvas will inherit its CSS width and style property values from aWrapper*/
  width: 100%;
  height: 100%; }

.main-container-full-width {
  padding: 8em 16px;
  border-bottom: 1px solid #eee; }
  @media (min-width: 768px) {
    .main-container-full-width {
      padding: 6em 30px; } }

.fullWidthContainerSmall {
  padding: 5em 16px;
  border-bottom: 1px solid #eee; }
  @media (min-width: 768px) {
    .fullWidthContainerSmall {
      padding: 5em 30px; } }

.images {
  display: inline-block;
  margin: 0 auto;
  background-repeat: no-repeat;
  max-width: 100%; }
  @media (min-width: 992px) {
    .images {
      max-width: none; } }

.hidden-heading {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; }

.hero-header-text {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  max-width: 525px;
  padding: 0;
  box-sizing: content-box; }
  @media (min-width: 992px) {
    .hero-header-text {
      max-width: 575px; } }

#introduction {
  color: #fff;
  position: relative;
  background-color: #333;
  padding-left: 32px;
  padding-right: 32px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #introduction h1, #introduction h2, #introduction h3, #introduction h4, #introduction h5, #introduction h6 {
    font-weight: normal; }
  #introduction h1, #introduction p {
    margin: 0;
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto; }
  #introduction h2 {
    font-size: 2.2em;
    margin: 0 0 0.4em; }
  #introduction .linkContainer a {
    color: #74c0e7; }
    #introduction .linkContainer a:after {
      border-color: #74c0e7 #74c0e7 transparent transparent; }
    #introduction .linkContainer a:hover {
      color: #38a5dc; }
      #introduction .linkContainer a:hover:after {
        border-color: #38a5dc #38a5dc transparent transparent; }
  @media (min-width: 992px) {
    #introduction .linkContainer {
      justify-content: center; } }

.portfolio .imageHolder {
  width: 100%; }
  .portfolio .imageHolder #firstImage {
    background-image: url("%PUBLIC_URL%/assets/agame/agame2.local-4.png");
    width: 263px;
    height: 263px;
    width: 320px;
    height: 317px; }

@media (min-width: 992px) {
  .portfolio .imageHolder {
    width: auto; } }

.portfolio .sectionContainer {
  padding: 5em 0; }

.portfolio #newsSectionContainer .images {
  padding-top: 20px;
  background-color: white;
  border: 1px solid #eee; }

@media (min-width: 992px) {
  .portfolio .primaryImage {
    display: none; } }

.portfolio .secondaryImage {
  display: none; }
  @media (min-width: 992px) {
    .portfolio .secondaryImage {
      display: inline-block; } }

.portfolio .listContainer {
  display: inline-block;
  margin: 0 auto;
  max-width: 550px;
  text-align: center; }
  @media (min-width: 992px) {
    .portfolio .listContainer {
      max-width: none; } }
  @media (min-width: 992px) {
    .portfolio .listContainer p:not(.linkContainer) {
      text-align: left; } }

@media (min-width: 992px) {
  .portfolio .listContainer {
    text-align: left;
    margin-left: 5em; } }

@media (min-width: 992px) {
  .portfolio #mixtinSectionContainer .listContainer {
    margin-left: 0;
    margin-right: 5em; } }

.portfolio h3 {
  font-size: 1.6em; }

.numberedItems {
  margin: 10px 0; }

.border {
  height: 1px;
  width: 100%;
  margin: 0px auto;
  background-color: #e9e9e9; }

.sectionHeaders {
  margin: 1.3em 0 0; }
  .sectionHeaders .updated-time {
    color: #999;
    font-size: 16px;
    margin-top: 0.6em;
    display: block; }
  @media (min-width: 992px) {
    .sectionHeaders {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0.5em 0 0; } }

.noPadding {
  padding: 0; }

figure {
  margin: 0; }

.project:not(:last-child) {
  border-bottom: 1px solid #e9e9e9; }

@media (min-width: 992px) {
  .project:nth-child(2n) .imageHolder {
    order: 2; }
  .project:nth-child(2n) .listContainer {
    margin-left: 0;
    margin-right: 50px;
    order: 1; } }

#css3 {
  animation-duration: 2.5s;
  animation-name: cssColorChange;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.5s;
  color: #38a5dc;
  font-weight: bold; }

#html5 {
  animation-duration: 2.5s;
  animation-name: htmlColorChange;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
  color: #e8612c;
  font-weight: bold; }

#react {
  animation-duration: 2.5s;
  animation-name: reactColorChange;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font-weight: bold; }

@keyframes reactColorChange {
  from {
    color: #60d9fb; }
  to {
    color: #b9effd; } }

@keyframes cssColorChange {
  from {
    color: #38a5dc; }
  to {
    color: #8ecceb; } }

@keyframes htmlColorChange {
  from {
    color: #e8612c; }
  to {
    color: #f2a688; } }

#blogDirectory {
  min-height: calc(100vh - 159px);
  box-sizing: border-box;
  padding: 4em 0;
  text-align: center; }
  #blogDirectory p {
    margin-top: 0; }
  #blogDirectory h2 {
    margin-bottom: 0.5em; }
  #blogDirectory h2:not(:first-child) {
    margin-top: 2em; }

.blogDates {
  margin: 4em 0; }

.blogContainer {
  transition: none;
  overflow-wrap: break-word;
  max-width: 700px;
  margin: 0 auto; }

.blogContainer pre {
  white-space: pre-wrap;
  padding: 25px;
  border-radius: 3px; }

.blogContainer p, li {
  line-height: 1.6; }

#reactThumbnail {
  padding-top: 20px;
  background-color: white;
  border: 1px solid #e1e1e1; }

#header {
  height: 48px;
  background-color: #2b2b2b;
  background-color: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  #header > div {
    height: 100%; }
  #header nav {
    flex: 1;
    height: 100%;
    margin: 0 auto; }
  #header #titleContainer {
    flex: 0 1 85%; }
    #header #titleContainer #logo {
      font-family: 'Source Code Pro', monospace;
      color: white;
      font-size: 22px;
      transition: color 0.2s linear 0s; }
      #header #titleContainer #logo:hover {
        color: rgba(255, 255, 255, 0.8); }
  @media (min-width: 768px) {
    #header #titleContainer, #header .invis-aligner {
      flex: 0 1 20%; } }
  #header #buttonWrapper {
    flex: 0 1 15%;
    position: relative;
    z-index: 99; }
    #header #buttonWrapper #mobileButton {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      border: 1px solid transparent;
      background-color: transparent;
      padding: 0;
      cursor: pointer; }
      #header #buttonWrapper #mobileButton .flexBottom {
        height: 18px; }
      #header #buttonWrapper #mobileButton #hamburgerWrapper {
        position: relative;
        bottom: 0;
        transition: bottom 0.33s ease-in-out 0s; }
      #header #buttonWrapper #mobileButton .hamburgerIcon {
        display: block;
        width: 24px;
        height: 2px;
        background-color: white;
        transition: background-color 0.33s ease-in-out 0s, transform 0.33s ease-in-out 0s, opacity 0s ease-in-out 0.33s, margin-bottom 0.33s ease-in-out 0.33s; }
      #header #buttonWrapper #mobileButton .hamburgerIcon:not(:last-child) {
        margin-bottom: 6px; }
    #header #buttonWrapper #mobileButton:focus {
      outline: none; }
  @media (min-width: 768px) {
    #header #buttonWrapper {
      display: none; } }
  #header #headerMenu {
    box-sizing: border-box;
    list-style: none;
    position: absolute;
    width: 24px;
    height: 0px;
    top: 48px;
    left: 0;
    margin: 0;
    padding: 0;
    border-top: 1px solid;
    border-color: transparent;
    background-color: transparent;
    z-index: 98; }
    #header #headerMenu .menuItems {
      visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 48px;
      opacity: 0;
      transition: none;
      font-size: 1em; }
    #header #headerMenu .menuItems:first-child {
      border-top: none; }
      #header #headerMenu .menuItems:first-child a {
        margin-top: 0.9em; }
  #header .transitionExpand {
    transition: height 0s ease-in 0s, width 0s ease-in 0s, background-color 0.33s ease-in 0s, border-color 0.33s ease-in 0s; }
  #header .transitionCollapse {
    transition: height 0s ease-in 0.33s, width 0s ease-in 0.33s, background-color 0.33s ease-in 0s, border-color 0.33s ease-in 0s; }
  #header .headerLink {
    position: relative;
    font-size: 1.4em;
    color: white;
    text-align: center;
    padding: 0.9em 0;
    width: 100%;
    text-decoration: none; }
    #header .headerLink:hover {
      color: rgba(255, 255, 255, 0.82); }
    #header .headerLink p {
      font-size: 1em;
      margin: 0;
      transition: color 0.22s linear; }
  #header .header-link-icon {
    font-size: 11px;
    position: absolute;
    top: 0;
    right: -17px; }
  @media (min-width: 768px) {
    #header #headerMenu {
      position: static;
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      width: auto;
      width: 100%;
      border-top: none;
      top: 0;
      max-width: 550px;
      margin: 0 auto;
      justify-content: space-between; }
      #header #headerMenu p, #header #headerMenu li {
        font-size: 14px; }
      #header #headerMenu .menuItems .selected p {
        color: white;
        position: relative; }
        #header #headerMenu .menuItems .selected p:after {
          width: 80%;
          left: 10%;
          height: 1px; }
      #header #headerMenu .menuItems {
        visibility: visible;
        opacity: 1;
        border-top: none;
        height: 100%;
        margin: 0;
        transition: background-color 0.22s linear 0s; }
        #header #headerMenu .menuItems a {
          display: flex;
          align-items: center;
          height: 100%;
          transition: color 0.22s linear; }
          #header #headerMenu .menuItems a:hover p {
            color: white; }
      #header #headerMenu .menuItems:first-child a {
        margin-top: 0; }
      #header #headerMenu .secondaryMenuItem {
        position: absolute;
        right: 0;
        top: 0; }
        #header #headerMenu .secondaryMenuItem .secondaryLink {
          border: 2px solid white;
          background-color: transparent;
          transition: background-color 0.22s linear;
          color: white;
          padding: 0 20px;
          font-size: 14px;
          height: 30px; }
          #header #headerMenu .secondaryMenuItem .secondaryLink:hover {
            background-color: #1f1f1f; }
    #header .headerLink {
      font-size: 14px; }
      #header .headerLink p {
        color: rgba(255, 255, 255, 0.72);
        position: relative;
        padding: 4px 0px; }
        #header .headerLink p:after {
          content: '';
          display: inline-block;
          height: 1px;
          width: 0%;
          background: white;
          position: absolute;
          bottom: 0;
          left: 50%;
          transition: all 0.22s ease-in-out;
          border-radius: 3px; }
        #header .headerLink p.external-header-link {
          color: white;
          border: 1px solid white;
          padding: 4px 12px;
          border-radius: 3px; } }

html.expanded {
  overflow-y: scroll !important; }

.expanded, .expanded body {
  height: 100%;
  overflow: hidden; }
  .expanded #header #headerMenu, .expanded body #header #headerMenu {
    height: calc(100% - 48px);
    min-height: 510px;
    width: 100%;
    background-color: #333;
    border-top: 1px solid;
    border-color: #aaa; }
    .expanded #header #headerMenu .menuItems, .expanded body #header #headerMenu .menuItems {
      visibility: visible;
      transition: opacity 0.33s ease-in-out 0.4s;
      opacity: 1; }
  .expanded #header > div > #buttonWrapper > #mobileButton, .expanded body #header > div > #buttonWrapper > #mobileButton {
    padding: 10px 0; }
    .expanded #header > div > #buttonWrapper > #mobileButton #hamburgerWrapper, .expanded body #header > div > #buttonWrapper > #mobileButton #hamburgerWrapper {
      transition: bottom 0.33s ease-in-out 0.33s;
      bottom: calc(50% - 1px); }
    .expanded #header > div > #buttonWrapper > #mobileButton .hamburgerIcon, .expanded body #header > div > #buttonWrapper > #mobileButton .hamburgerIcon {
      background-color: white;
      transition: background-color 0.33s ease-in-out 0s, transform 0.33s ease-in-out 0.33s, opacity 0s ease-in-out 0.33s, margin-bottom 0.33s ease-in-out 0s; }
    .expanded #header > div > #buttonWrapper > #mobileButton .hamburgerIcon:not(:last-child), .expanded body #header > div > #buttonWrapper > #mobileButton .hamburgerIcon:not(:last-child) {
      margin-bottom: -2px; }
    .expanded #header > div > #buttonWrapper > #mobileButton .hamburgerIcon:first-child, .expanded body #header > div > #buttonWrapper > #mobileButton .hamburgerIcon:first-child {
      transform: rotate(45deg); }
    .expanded #header > div > #buttonWrapper > #mobileButton .hamburgerIcon:nth-child(2), .expanded body #header > div > #buttonWrapper > #mobileButton .hamburgerIcon:nth-child(2) {
      opacity: 0; }
    .expanded #header > div > #buttonWrapper > #mobileButton .hamburgerIcon:last-child, .expanded body #header > div > #buttonWrapper > #mobileButton .hamburgerIcon:last-child {
      transform: rotate(-45deg); }

#footer {
  height: 110px;
  border-top: 1px solid #d1d1d1;
  background: #f4f4f4; }
  #footer #copyRight {
    color: #777; }
  #footer #contact {
    padding-top: 8px;
    padding-top: 0.5em; }
  #footer h2 {
    font-size: 1em;
    font-weight: normal; }

.footer-updated-on {
  color: #333; }
