#blogDirectory {
   min-height: calc(~'100vh - 159px');
   box-sizing: border-box;
   padding: 4em 0;
}

.blogDates {
   margin: 4em 0;
}

.blogContainer {
   transition: none;
   overflow-wrap: break-word;
   max-width: 700px;
   margin: 0 auto;
}

// .blogContainer img {
//   padding-top: 18px;
// }

// .blogContainer h1:nth-child(2) {
//    margin: 0 0 1.2em;
// }

.blogContainer pre {
  white-space: pre-wrap;
  // overflow-wrap: break-word;
  padding: 25px;
  border-radius: 3px;
}

.blogContainer p, li {
   line-height: 1.6;
}

#reactThumbnail {
   padding-top: 20px;
   background-color: white;
   border: 1px solid #e1e1e1;
   // box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}
